In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("../s6_e1/playground-series-s6e1/train.csv")
test = pd.read_csv("../s6_e1/playground-series-s6e1/test.csv")

In [3]:
train.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [4]:
X=train.drop(columns=["id", "exam_score"])
y=train["exam_score"]
Test=test.drop(columns=["id"])

In [6]:
print(train.columns.tolist())

['id', 'age', 'gender', 'course', 'study_hours', 'class_attendance', 'internet_access', 'sleep_hours', 'sleep_quality', 'study_method', 'facility_rating', 'exam_difficulty', 'exam_score']

In [11]:
train.course.value_counts(), train.study_method.value_counts(), train.sleep_quality.value_counts(), train.facility_rating.value_counts(), train.exam_difficulty.value_counts()

(course
 b.tech     131236
 b.sc       111554
 b.com      110932
 bca         88721
 bba         75644
 ba          61989
 diploma     49924
 Name: count, dtype: int64,
 study_method
 coaching         131697
 self-study       131131
 mixed            123086
 group study      123009
 online videos    121077
 Name: count, dtype: int64,
 sleep_quality
 poor       213675
 good       213089
 average    203236
 Name: count, dtype: int64,
 facility_rating
 medium    214082
 low       212378
 high      203540
 Name: count, dtype: int64,
 exam_difficulty
 moderate    353982
 easy        176540
 hard         99478
 Name: count, dtype: int64)

In [12]:
def internet_access_map(val):
    if val == "no":
        return 0
    elif val == "yes":
        return 1
    
def sleep_quality_map(val):
    if val == "poor":
        return 0
    elif val == "average":
        return 1
    elif val == "good":
        return 2
    
def facility_rating_map(val):
    if val == "low":
        return 0
    elif val == "medium":
        return 1
    elif val == "high":
        return 2

def exam_difficulty_map(val):
    if val == "easy":
        return 0
    elif val == "moderate":
        return 1
    elif val == "hard":
        return 2

In [14]:
X['internet_access'] = X['internet_access'].map(internet_access_map)
X['sleep_quality'] = X['sleep_quality'].map(sleep_quality_map)
X['facility_rating'] = X['facility_rating'].map(facility_rating_map)
X['exam_difficulty'] = X['exam_difficulty'].map(exam_difficulty_map)

Test['internet_access'] = Test['internet_access'].map(internet_access_map)
Test['sleep_quality'] = Test['sleep_quality'].map(sleep_quality_map)
Test['facility_rating'] = Test['facility_rating'].map(facility_rating_map)
Test['exam_difficulty'] = Test['exam_difficulty'].map(exam_difficulty_map)

In [16]:
X.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty
0,21,female,b.sc,7.91,98.8,0,4.9,1,online videos,0,0
1,18,other,diploma,4.95,94.8,1,4.7,0,self-study,1,1
2,20,female,b.sc,4.68,92.6,1,5.8,0,coaching,2,1
3,19,male,b.sc,2.00,49.5,1,8.3,1,group study,2,1
4,23,male,bca,7.65,86.9,1,9.6,2,self-study,2,0

In [20]:
X=pd.get_dummies(X, columns=['gender','course', 'study_method'], drop_first=True)
X.head()

,age,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,gender_male,gender_other,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study
0,21,7.91,98.8,0,4.9,1,0,0,False,False,True,False,False,False,False,False,False,False,True,False
1,18,4.95,94.8,1,4.7,0,1,1,False,True,False,False,False,False,False,True,False,False,False,True
2,20,4.68,92.6,1,5.8,0,2,1,False,False,True,False,False,False,False,False,False,False,False,False
3,19,2.00,49.5,1,8.3,1,2,1,True,False,True,False,False,False,False,False,True,False,False,False
4,23,7.65,86.9,1,9.6,2,2,0,True,False,False,False,False,False,True,False,False,False,False,True

In [17]:
Test=pd.get_dummies(Test, columns=['gender','course', 'study_method'], drop_first=True)
Test.head()

,age,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,gender_male,gender_other,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study
0,24,6.85,65.2,1,5.2,0,2,0,False,True,False,False,True,False,False,False,True,False,False,False
1,18,6.61,45.0,0,9.3,0,0,0,True,False,False,False,False,False,False,True,False,False,False,False
2,24,6.60,98.5,1,6.2,2,1,1,False,False,False,True,False,False,False,False,True,False,False,False
3,24,3.03,66.3,1,5.7,1,1,1,True,False,False,False,False,False,False,True,False,True,False,False
4,20,2.03,42.4,1,9.2,1,0,1,False,False,False,True,False,False,False,False,False,False,False,False

In [21]:
bool_columns = X.select_dtypes(include='bool').columns
X[bool_columns] = X[bool_columns].astype(int)

bool_columns_test = Test.select_dtypes(include='bool').columns
Test[bool_columns_test] = Test[bool_columns_test].astype(int)

In [22]:
X.head()

,age,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,gender_male,gender_other,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study
0,21,7.91,98.8,0,4.9,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,18,4.95,94.8,1,4.7,0,1,1,0,1,0,0,0,0,0,1,0,0,0,1
2,20,4.68,92.6,1,5.8,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0
3,19,2.00,49.5,1,8.3,1,2,1,1,0,1,0,0,0,0,0,1,0,0,0
4,23,7.65,86.9,1,9.6,2,2,0,1,0,0,0,0,0,1,0,0,0,0,1

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
Test_scaled = scaler.transform(Test)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
Test_scaled = pd.DataFrame(Test_scaled, columns=Test.columns)
X_scaled.head()

,age,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,gender_male,gender_other,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study
0,0.200943,1.655875,1.538302,-3.384709,-1.245269,0.001130,-1.213656,-1.349220,-0.708605,-0.709879,2.155804,-0.512955,-0.330354,-0.369397,-0.404858,-0.293368,-0.492570,-0.492762,2.050195,-0.512695
1,-1.126352,0.401573,1.308814,0.295446,-1.359895,-1.213871,0.017268,0.188038,-0.708605,1.408691,-0.463864,-0.512955,-0.330354,-0.369397,-0.404858,3.408692,-0.492570,-0.492762,-0.487758,1.950476
2,-0.241488,0.287160,1.182595,0.295446,-0.729454,-1.213871,1.248192,0.188038,-0.708605,-0.709879,2.155804,-0.512955,-0.330354,-0.369397,-0.404858,-0.293368,-0.492570,-0.492762,-0.487758,-0.512695
3,-0.683920,-0.848492,-1.290141,0.295446,0.703367,0.001130,1.248192,0.188038,1.411224,-0.709879,2.155804,-0.512955,-0.330354,-0.369397,-0.404858,-0.293368,2.030167,-0.492762,-0.487758,-0.512695
4,1.085807,1.545699,0.855575,0.295446,1.448434,1.216131,1.248192,-1.349220,1.411224,-0.709879,-0.463864,-0.512955,-0.330354,-0.369397,2.470002,-0.293368,-0.492570,-0.492762,-0.487758,1.950476

### Torch Model for Score Prediction

In [ ]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset
import torch.optim as optim
import torch.nn.functional as F

from sklearn.model_selection import train_test_split

# Set device to GPU if available
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
print(f'Using device: {device}')

X_train_tensor = torch.tensor(X_scaled.values, dtype=torch.float32)
y_train_tensor = torch.tensor(y.values, dtype=torch.float32).view(-1, 1)

train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)


class ScorePredictionModel(nn.Module):
    def __init__(self, input_dim):
        super(ScorePredictionModel, self).__init__()
        self.fc1 = nn.Linear(input_dim, 64)
        self.fc2 = nn.Linear(64, 32)
        self.fc3 = nn.Linear(32, 1)
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        return x
    
input_dim = X_scaled.shape[1]
model = ScorePredictionModel(input_dim)
model.to(device)  # Move model to GPU
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)
epochs = 100

from tqdm import tqdm

for epoch in range(epochs):
    model.train()
    running_loss = 0.0
    for inputs, targets in tqdm(train_loader):
        # Move data to GPU
        inputs = inputs.to(device)
        targets = targets.to(device)
        
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, targets)
        loss.backward()
        optimizer.step()
        running_loss += loss.item() * inputs.size(0)
    
    epoch_mse = running_loss / len(train_loader.dataset)
    epoch_rmse = np.sqrt(epoch_mse)  # Calculate RMSE from MSE
    
    if (epoch+1) % 10 == 0:
        print(f'Epoch {epoch+1}/{epochs}, MSE: {epoch_mse:.4f}, RMSE: {epoch_rmse:.4f}')

In [ ]:
model.eval()
X_test_tensor = torch.tensor(Test_scaled.values, dtype=torch.float32)
X_test_tensor = X_test_tensor.to(device)  # Move test data to GPU

with torch.no_grad():
    test_predictions = model(X_test_tensor).cpu().numpy()  # Move predictions back to CPU
    
submission = pd.DataFrame()
submission['id'] = test['id']
submission['exam_score'] = test_predictions
submission.to_csv('submission_torch_model.csv', index=False)

### LightGBM Model for Score Prediction

In [28]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
from lightgbm import LGBMRegressor

# Create KFold cross-validation (stratified is typically for classification, so using KFold for regression)
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Store scores for each fold
fold_scores = []
rmse_scores = []

print("Starting K-Fold Cross Validation...\n")

for fold, (train_idx, val_idx) in enumerate(kf.split(X_scaled), 1):
    # Split data
    X_train_fold = X_scaled.iloc[train_idx]
    X_val_fold = X_scaled.iloc[val_idx]
    y_train_fold = y.iloc[train_idx]
    y_val_fold = y.iloc[val_idx]
    
    # Train model
    model_fold = LGBMRegressor(n_estimators=1000, learning_rate=0.05, random_state=42)
    model_fold.fit(X_train_fold, y_train_fold)
    
    # Predict
    y_pred = model_fold.predict(X_val_fold)
    
    # Calculate metrics
    r2 = r2_score(y_val_fold, y_pred)
    rmse = np.sqrt(mean_squared_error(y_val_fold, y_pred))
    
    fold_scores.append(r2)
    rmse_scores.append(rmse)
    
    print(f"Fold {fold}:")
    print(f"  R Score: {r2:.4f}")
    print(f"  RMSE: {rmse:.4f}\n")

print(f"Average R Score: {np.mean(fold_scores):.4f} (+/- {np.std(fold_scores):.4f})")
print(f"Average RMSE: {np.mean(rmse_scores):.4f} (+/- {np.std(rmse_scores):.4f})")

Starting K-Fold Cross Validation...

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.024497 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 624
[LightGBM] [Info] Number of data points in the train set: 504000, number of used features: 20
[LightGBM] [Info] Start training from score 62.482335
Fold 1:
  R Score: 0.7846
  RMSE: 8.7521

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.019421 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 623
[LightGBM] [Info] Number of data points in the train set: 504000, number of used features: 20
[LightGBM] [Info] Start training from score 62.502155
Fold 2:
  R Score: 0.7850
  RMSE: 8.7649

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.027500 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 624
[LightGBM] [Info] Number of data points in the train set: 504000, number of used features: 20
[LightGBM] [Info] Start training from score 62.523833
Fold 3:
  R Score: 0.7857
  RMSE: 8.7538

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.051456 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 624
[LightGBM] [Info] Number of data points in the train set: 504000, number of used features: 20
[LightGBM] [Info] Start training from score 62.522425
Fold 4:
  R Score: 0.7862
  RMSE: 8.7699

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.044283 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 623
[LightGBM] [Info] Number of data points in the train set: 504000, number of used features: 20
[LightGBM] [Info] Start training from score 62.502613
Fold 5:
  R Score: 0.7848
  RMSE: 8.7881

Average R Score: 0.7853 (+/- 0.0006)
Average RMSE: 8.7658 (+/- 0.0130)

In [32]:
from sklearn.model_selection import StratifiedKFold
from catboost import CatBoostRegressor
from sklearn.model_selection import GridSearchCV
import numpy as np

# Create bins for stratified k-fold (since y is continuous, we need to bin it)
y_binned = pd.cut(y, bins=10, labels=False)

# Define parameter grid for CatBoost
param_grid = {
    'iterations': [500, 1000],
    'learning_rate': [0.03, 0.05, 0.1],
    'depth': [6, 8, 10],
    'l2_leaf_reg': [1, 3, 5]
}

# Create CatBoost model
catboost_model = CatBoostRegressor(random_state=42, verbose=0)

# Use StratifiedKFold with binned target
# skf = StratifiedKFold(n_splits=2, shuffle=True, random_state=42)

# # Perform Grid Search with Stratified K-Fold
# print("Starting Grid Search with Stratified K-Fold Cross Validation...\n")
# grid_search = GridSearchCV(
#     estimator=catboost_model,
#     param_grid=param_grid,
#     cv=skf.split(X_scaled, y_binned),
#     scoring='neg_root_mean_squared_error',
#     n_jobs=-1,
#     verbose=2
# )

# grid_search.fit(X_scaled, y)

In [33]:
# print(f"\nBest Parameters: {grid_search.best_params_}")
# print(f"Best RMSE Score: {-grid_search.best_score_:.4f}")

# Train final model with best parameters on full training data
best_model = CatBoostRegressor( random_state=42, verbose=0)
best_model.fit(X_scaled, y)

# Make predictions on test set
predictions = best_model.predict(Test_scaled)

print("\nPredictions completed!")

Predictions completed!

In [ ]:
# from lightgbm import LGBMRegressor
# model = LGBMRegressor(n_estimators=1000, learning_rate=0.05, random_state=42)
# model.fit(X_scaled, y)
# predictions = model.predict(Test_scaled)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.028417 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 624
[LightGBM] [Info] Number of data points in the train set: 630000, number of used features: 20
[LightGBM] [Info] Start training from score 62.506672

In [34]:
submit_df = pd.DataFrame({
    "id": test["id"],
    "exam_score": predictions
})
submit_df.to_csv("submission.csv", index=False)